{% extends 'base.html' %}
{% block title %}读取表格{% endblock %}
{% block head %}
{{ super() }}
<style>
    #nav a{
        padding-left: 40px;
        float: right;
    }
</style>
{% endblock %}

{% block content %}
<div id="nav"><a href="{{url_for('index')}}">首页</a><a href="{{url_for('write_post')}}">写入</a></div>
<table id="table" cellpadding="10px">

    <tr name="th">
        {% for h in th %}
        <th>{{ h }}</th>
        {% endfor %}
    </tr>
    {% for row in table %}
    <tr>
        {% for c in row %}
        <td>{{ c }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}