{% extends "base.html" %}
{% block title %}上传模板{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post" name="file">
    <input type="file" name="model" id="excel" required>
    <input type="submit" value="上传" id="sure">
</form>
<script>
    var form = document.forms.namedItem("file");
    form.addEventListener(
        "submit",
        function (ev) {
            var fileInput = document.getElementById("excel");
            formData = new FormData(form);
            formData.append("model", fileInput.files[0]);
            var request = new XMLHttpRequest();
            request.open("POST", "/model", true);
            request.onload = function () {
                if (request.status == 200) {
                    alert("已成功上传模板");
                    window.location.href = "/write";
                }
                else {
                    result.status + "上传文件发生错误。<br/>";
                }
            };
            request.send(formData);
            ev.preventDefault();
        },
        false,
    );

</script>
{% endblock %}